{% extends "base.html" %}

{% block content %}
	<div class="fh-breadcrumb">
		<div class="wrapper wrapper-content  full-height-scroll">
        	<div class="row">
            	<div class="col-lg-3">
                        <div class="widget-head-color-box navy-bg p-lg text-center">
                            <div class="m-b-md">
                            	<h1 class="font-bold no-margins">
                                	笔记本名
                            	</h1>
                            </div>                          
                            <div>
                                <span>10 笔记</span>
                            </div>
                        </div>
                        <div class="widget-text-box">
                            <h4 class="media-heading">概要</h4>
                            <p>关于此笔记本的简要说明</p>
                            <div class="text-right">
                                <a class="btn btn-xs btn-primary">
                                	<i class="fa fa-pencil-square-o"></i> 编辑 
                                </a>
                                <a class="btn btn-xs btn-danger">
                                	<i class="fa fa-trash"></i> 删除
                                </a>
                            </div>
                        </div>
                </div>
                <div class="col-lg-3">
                        <div class="widget-head-color-box red-bg p-lg text-center">
                            <div class="m-b-md">
                            	<h1 class="font-bold no-margins">
                                	笔记本名
                            	</h1>
                            </div>                          
                            <div>
                                <span>10 笔记</span>
                            </div>
                        </div>
                        <div class="widget-text-box">
                            <h4 class="media-heading">概要</h4>
                            <p>关于此笔记本的简要说明</p>
                            <div class="text-right">
                                <a class="btn btn-xs btn-primary">
                                	<i class="fa fa-thumbs-up"></i> 编辑 
                                </a>
                                <a class="btn btn-xs btn-danger">
                                	<i class="fa fa-heart"></i> 删除
                                </a>
                            </div>
                        </div>
                </div>
                <div class="col-lg-3">
                        <div class="widget-head-color-box yellow-bg p-lg text-center">
                            <div class="m-b-md">
                            	<h1 class="font-bold no-margins">
                                	笔记本名
                            	</h1>
                            </div>                          
                            <div>
                                <span>10 笔记</span>
                            </div>
                        </div>
                        <div class="widget-text-box">
                            <h4 class="media-heading">概要</h4>
                            <p>关于此笔记本的简要说明</p>
                            <div class="text-right">
                                <a class="btn btn-xs btn-primary">
                                	<i class="fa fa-thumbs-up"></i> 编辑 
                                </a>
                                <a class="btn btn-xs btn-danger">
                                	<i class="fa fa-heart"></i> 删除
                                </a>
                            </div>
                        </div>
                </div>
                <div class="col-lg-3">
                        <div class="widget-head-color-box lazur-bg p-lg text-center">
                            <div class="m-b-md">
                            	<h1 class="font-bold no-margins">
                                	笔记本名
                            	</h1>
                            </div>                          
                            <div>
                                <span>10 笔记</span>
                            </div>
                        </div>
                        <div class="widget-text-box">
                            <h4 class="media-heading">概要</h4>
                            <p>关于此笔记本的简要说明</p>
                            <div class="text-right">
                                <a class="btn btn-xs btn-primary">
                                	<i class="fa fa-thumbs-up"></i> 编辑 
                                </a>
                                <a class="btn btn-xs btn-danger">
                                	<i class="fa fa-heart"></i> 删除
                                </a>
                            </div>
                        </div>
                </div>
                <div class="col-lg-3">
                        <div class="widget-head-color-box navy-bg p-lg text-center">
                            <div class="m-b-md">
                            	<h1 class="font-bold no-margins">
                                	笔记本名
                            	</h1>
                            </div>                          
                            <div>
                                <span>10 笔记</span>
                            </div>
                        </div>
                        <div class="widget-text-box">
                            <h4 class="media-heading">概要</h4>
                            <p>关于此笔记本的简要说明</p>
                            <div class="text-right">
                                <a class="btn btn-xs btn-primary">
                                	<i class="fa fa-thumbs-up"></i> 编辑 
                                </a>
                                <a class="btn btn-xs btn-danger">
                                	<i class="fa fa-heart"></i> 删除
                                </a>
                            </div>
                        </div>
                </div>
                <div class="col-lg-3">
                        <div class="widget-head-color-box navy-bg p-lg text-center">
                            <div class="m-b-md">
                            	<h1 class="font-bold no-margins">
                                	笔记本名
                            	</h1>
                            </div>                          
                            <div>
                                <span>10 笔记</span>
                            </div>
                        </div>
                        <div class="widget-text-box">
                            <h4 class="media-heading">概要</h4>
                            <p>关于此笔记本的简要说明</p>
                            <div class="text-right">
                                <a class="btn btn-xs btn-primary">
                                	<i class="fa fa-thumbs-up"></i> 编辑 
                                </a>
                                <a class="btn btn-xs btn-danger">
                                	<i class="fa fa-heart"></i> 删除
                                </a>
                            </div>
                        </div>
                </div>
            	<!-- 添加笔记本 -->
            	<div class="col-lg-3">
            		<a href="">
                		<div class="widget navy-bg p-lg text-center">
                        <div class="m-b-md">
                            <i class="fa fa-plus fa-5x"></i>
                            <h1 class="m-xs">添加笔记本</h1>
                        </div>
                    	</div>
                	</a>
            	</div>
        	          		
        	</div>   
        </div>
    </div>
{% endblock %}