{% extends "base.html" %}

{% block content %}

<!-- 废纸篓页面内容 -->
<div class="fh-breadcrumb">
        <div class="fh-column">
        	<div class="full-height-scroll">
               	<div class="ibox float-e-margins">
                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">
                            <a class="btn btn-block btn-primary compose-mail" href="#">清空废纸篓
                            </a>
                            <div class="space-25"></div>
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li>
                                	<a href="#"> 
                                		<i class="fa fa-inbox "></i> 2017年6月
                                		<span class="label label-warning pull-right">16</span> 
                                	</a>
                                </li>
                                <li>
                                	<a href="#"> 
                                		<i class="fa fa-inbox "></i> 2017年6月
                                		<span class="label label-warning pull-right">16</span> 
                                	</a>
                                </li>
                                <li>
                                	<a href="#"> 
                                		<i class="fa fa-inbox "></i> 2017年6月
                                		<span class="label label-warning pull-right">16</span> 
                                	</a>
                                </li>
                                <li>
                                	<a href="#"> 
                                		<i class="fa fa-inbox "></i> 2017年6月
                                		<span class="label label-warning pull-right">16</span> 
                                	</a>
                                </li>
                                <li>
                                	<a href="#"> 
                                		<i class="fa fa-inbox "></i> 2017年6月
                                		<span class="label label-warning pull-right">16</span> 
                                	</a>
                                </li>
                                <li>
                                	<a href="#"> 
                                		<i class="fa fa-inbox "></i> 2017年6月
                                		<span class="label label-warning pull-right">16</span> 
                                	</a>
                                </li>
                                <li>
                                	<a href="#"> 
                                		<i class="fa fa-inbox "></i> 2017年6月
                                		<span class="label label-warning pull-right">16</span> 
                                	</a>
                                </li>
                                <li>
                                	<a href="#"> 
                                		<i class="fa fa-inbox "></i> 2017年6月
                                		<span class="label label-warning pull-right">16</span> 
                                	</a>
                                </li>
                                <li>
                                	<a href="#"> 
                                		<i class="fa fa-inbox "></i> 2017年6月
                                		<span class="label label-warning pull-right">16</span> 
                                	</a>
                                </li>
                                <li>
                                	<a href="#"> 
                                		<i class="fa fa-inbox "></i> 2017年6月
                                		<span class="label label-warning pull-right">16</span> 
                                	</a>
                                </li>
                                <li>
                                	<a href="#"> 
                                		<i class="fa fa-inbox "></i> 2017年6月
                                		<span class="label label-warning pull-right">16</span> 
                                	</a>
                                </li>
                                <li>
                                	<a href="#"> 
                                		<i class="fa fa-inbox "></i> 2017年6月
                                		<span class="label label-warning pull-right">16</span> 
                                	</a>
                                </li>
                                
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="full-height-scroll white-bg border-left">
        	<div class="mail-box-header">
        		<div class="row">
        			<div class="col-lg-6">
        				<h2>
                      		已删除 (16)
                		</h2> 
        			</div>
        			<div class="col-lg-6">
        				<button class="btn btn-danger btn-sm pull-right">
                    		<i class="fa fa-trash"></i> 删除已选中的文档
                		</button> 
        			</div>       			
        		</div>                                          
            </div>
            <div class="mail-box">
              	<table class="table table-hover table-mail">
                	<tbody>
                		<tr class="unread">
                    		<td class="check-mail">
                        		<input type="checkbox" class="i-checks">
                    		</td>
                    		<td class="mail-ontact">
                    			<a href="#">Anna Smith</a>
                    		</td>
                    		<td class="mail-subject">
                    			Lorem ipsum dolor noretek imit set.
                    		</td>
                    		<td class="text-right mail-date">2017/09/7</td>
                		</tr>
                		<tr class="unread">
                    		<td class="check-mail">
                        		<input type="checkbox" class="i-checks">
                    		</td>
                    		<td class="mail-ontact">
                    			<a href="#">Anna Smith</a>
                    		</td>
                    		<td class="mail-subject">
                    			Lorem ipsum dolor noretek imit set.
                    		</td>
                    		<td class="text-right mail-date">2017/09/7</td>
                		</tr>
                		<tr class="unread">
                    		<td class="check-mail">
                        		<input type="checkbox" class="i-checks">
                    		</td>
                    		<td class="mail-ontact">
                    			<a href="#">Anna Smith</a>
                    		</td>
                    		<td class="mail-subject">
                    			Lorem ipsum dolor noretek imit set.
                    		</td>
                    		<td class="text-right mail-date">2017/09/7</td>
                		</tr>
                		<tr class="unread">
                    		<td class="check-mail">
                        		<input type="checkbox" class="i-checks">
                    		</td>
                    		<td class="mail-ontact">
                    			<a href="#">Anna Smith</a>
                    		</td>
                    		<td class="mail-subject">
                    			Lorem ipsum dolor noretek imit set.
                    		</td>
                    		<td class="text-right mail-date">2017/09/7</td>
                		</tr>
                		<tr class="unread">
                    		<td class="check-mail">
                        		<input type="checkbox" class="i-checks">
                    		</td>
                    		<td class="mail-ontact">
                    			<a href="#">Anna Smith</a>
                    		</td>
                    		<td class="mail-subject">
                    			Lorem ipsum dolor noretek imit set.
                    		</td>
                    		<td class="text-right mail-date">2017/09/7</td>
                		</tr>
                		<tr class="unread">
                    		<td class="check-mail">
                        		<input type="checkbox" class="i-checks">
                    		</td>
                    		<td class="mail-ontact">
                    			<a href="#">Anna Smith</a>
                    		</td>
                    		<td class="mail-subject">
                    			Lorem ipsum dolor noretek imit set.
                    		</td>
                    		<td class="text-right mail-date">2017/09/7</td>
                		</tr>                		
                	</tbody>
                </table>
            </div>
        </div>
</div>
{% endblock %}